body{
    background-color: #000000;
    text-align: center;
}
h1, p{
    color: #ff0000;
}
h1{
    text-transform: uppercase;
    margin: 1.5%;
    padding: 2.5%;
}
img{
    max-width: 100%;
    height: auto;
    border: solid 2px #000000;
    border-radius: 50%;
}
p{
    margin: 2.5%;
}
a{
    color: #ff4444;
}